nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 0px 3.6px rgba(0, 0, 0, 0.024),
    5.5px 0px 10px rgba(0, 0, 0, 0.035), 13.3px 0px 24.1px rgba(0, 0, 0, 0.046),
    44px 0px 80px rgba(0, 0, 0, 0.07);
}

.logo {
  padding-left: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-right: 50px;
}

.nav-list__item a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.svg-wrapper {
  position: relative;
}

.cart-item {
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--secondary);
}

.nav-list__item a svg {
  width: 30px;
  height: 30px;
}
